.wrapper { 
   
    width: 600px;
    height: 100px;
    margin: 10px;
    background: light gray
   
    font-family: "Times New Roman", Times, serif;
    font-size: 46px;
    text-align: center

}


.menu  { 
    text-align: right;
    
    border-bottom: thick dotted yellow;

    
}
   .boxed {
  border: solid black;
       width: 250px;
       height: 450px;
       margin-left: 200px;
       margin-top: 70px;
       
    
}
